* {
    box-sizing: border-box;
    font-family: "Din Black",sans-serif;
}

body {
    background-color: #f3f3f3;
}

main {  
    margin: 0 auto;
    max-width: 1150px;
}

.system {
    margin: 0 auto;
    max-width: 1150px;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.system span {
    width: 0;
    height: 10px;
    border: 1px solid grey;
}

.system img {
    width: 20px;
    height: 20px;
}

.system div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-bar {
    margin: 0 auto;
    max-width: 1150px;
    width: 1150px;
    height: 60px;
    background-color: #3d3d3d;
    border-radius: 7px;
    box-shadow: inset 0 15px 10px #585858;
    display: flex;
}

.mcdelivery {
    width: 180px;
    height: 60px;
    background-color: #bd0017;
    border-radius: 7px 0 0 7px;
    text-align: center;
}

.mcdelivery img {
    position: relative;
    top: 5px;
}

.nav-bar div {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.menu, .penawaran-menarik, .akun-saya, .bantuan {
    margin: auto 40px;
    border: none;
}

.nav-bar div:hover {
    color: #d3d3d3;
}

.nav-bar span {
    width: 1px;
    height: 60px;
    background-color: #4f4f4f;
    box-shadow: 1px 0 black;
}

/* Promo Banner */

.slider {
    margin-top: 20px;
    width: 1150px;
    height: 600px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 600px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 1150px;
    transition: 2s;
}

.slide img {
    width: 1150px;
    height: 600px;
}

/* css for manual navigation */
.navigation-manual {
    position: absolute;
    width: 1150px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: black;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -1150px;
}
#radio3:checked ~ .first {
    margin-left: -2300px;
}
#radio4:checked ~ .first {
    margin-left: -3450px;
}

/* css for automatic navigation */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1150px;
    justify-content: center;
    margin-top: 560px;
}

.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: black;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: black;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: black;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: black;
}

.entire-container {
    position: absolute;
}

.order-form {
    position: absolute;
    padding-bottom: 20px;
    top: 50px;
    right: 20px;
    width: 400px;
    height: auto;
    background-color: #c7b3b3cc;
    text-align: center;
}

#separator {
    width: 0px;
    height: 12px;
    background-color: black;
    border: 1px solid black;
    margin: 0 20px;
}

.order-form a {
    font-weight: 600;
    cursor: pointer;
}

#highlight1 {
    width: 20%;
    height: 3px;
    position: absolute;
    left: 60px;
    top: 100px;
}

#highlight2 {
    width: 38%;
    height: 3px;
    position: absolute;
    right: 60px;
    top: 100px;
}

.pesan_login:hover ~ #highlight1{
    background-color: red;
}

.pesan_tamu:hover ~ #highlight2{
    background-color: red;
}

.grey {
    background-color: grey;
}

.red {
    background-color: red;
}

.order-form input {
    width: 80%;
    height: 40px;
    margin: 20px 0 -15px 0;
    padding: 10px;
}

.remember-me {
    position: absolute;
    top: 190px;
    right: 180px;
}

#remember-me {
    font-weight: 400;
    position: absolute;
    top: 207px;
    right: 230px;
}

.order-form button {
    width: 80%;
    height: 60px;
    color: white;
    background-color: red;
    border: none;
    font-weight: bold;
    font-size: 20px;
    margin-top: 60px;
    box-shadow: inset 0 20px 20px #e75340;
    border-radius: 5px;
}

#forgot-password {
    margin-right: 40px;
    font-weight: bold;
    text-align: right;
}

#register-span {
    width: 80%;
    height: 1px;
    background-color: grey;
    margin: -10px auto -40px auto;
}

#benefit {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -10px;
}

#window-tamu {
    display: none;
}
#window-login {
    display: block;
}

#window-tamu h1 {
    font-size: 20px;
    margin-top: 30px;
}

.offer-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.offer-container img {
    width: 370px;
    border: 1px solid grey;
    border-radius: 10px;
}

.offer-container a {
    cursor: pointer;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #4f4f4f;
    margin: 50px auto;
}

.order-instruction {
    margin: -20px auto 30px auto;
}

.order-instruction a {
    cursor: pointer;
}

footer {
    margin-top: 1580px;
}

#footer-container {
    width: 100vw;
    margin: -20px;
    padding-left: 40px;
    height: auto;
    background-color: #353535;
}

#container1 {
    display: flex;
    margin: 0 auto;
    max-width: 1150px;
    height: 400px;
    text-align: left;
    justify-content: flex-start;
    color: white;
    gap: 100px;
}

#trademark {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 100px;
    padding-top: 10px;
    margin: 40px -30px 0 -30px;
    background-color: #1d1d1d;
    color: #878e90;
}

#trademark p {
    margin: 10px auto;
    font-family: "Flama Condensed Medium",sans-serif;
}

#menu ul, #bantuan ul, #ikuti-kami ul{
    list-style-type: none;
    margin-left: -40px;
    font-size: 14px;
}

#menu h1, #bantuan h1, #ikuti-kami h1{
    font-size: 20px;
    font-family: "Flama Condensed Medium",sans-serif;
}

li {
    margin: 15px 0;
    color: #727272;
}

#ikuti-kami li {
    font-size: 18px;
    margin-bottom: 20px;
}

li:hover {
    color: #cdcdcd;
}

a {
    cursor: pointer;
}

i {
    color:white;
    margin-right: 15px;
}

